@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Nunito:wght@300;400;600;700&display=swap');

.register-file-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #2a3c63;
  padding: 12px 18px;
  border-radius: 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  width: fit-content;
  transition: 0.3s ease;
  margin-top: 8px;
}

.file-btn:hover {
  
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(245, 247, 247, 0.15);
}

.file-btn input {
    align-items: center;
  display: none;
}

.register-file-name {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #1d2431;
  margin-top: 6px;
  text-align: center;
}


@media (max-width: 1024px) {
  .register-file-btn {
    font-size: 15px;
    padding: 10px 14px;
  }

  .register-file-name {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .register-file-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .register-file-name {
    font-size: 12px;
  }
}