.register-container-assistant {
  position: absolute;
  z-index: 2;
  width: 90%;
  max-width: 800px;

  min-width: 320px;
  padding: 2.5rem;
  background: rgba(13, 25, 40, 0.85);
  border-radius: 18px;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  max-height: 95vh;
  height: auto;
  overflow-y: scroll;
}

.register-container-assistant::-webkit-scrollbar {
  width: 8px;
}

.register-container-assistant::-webkit-scrollbar-thumb {
  background-color: #4b678d;
  border-radius: 10px;
  border: 2px solid #cadbfe;
}

.register-container-assistant::-webkit-scrollbar-track {
  background: #2c3e50;
  border-radius: 10px;
}

.form-input-position-description {
  width: 100%;
  padding: 14px 14px 14px 45px;
  background: #cadbfe;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #0d1928;
  border: none;
  border-radius: 14px;
  outline: none;
  transition: 0.3s ease;
  height: 120px;
  resize: vertical;
}

.input-wrapper-position-description {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.input-icon-position-description {
  position: absolute;
  left: 14px;
  top: 12px;
  color: #3e4856;
  pointer-events: none;
}

.register-assistant-position-section {
  margin-top: 2rem;
  border-top: 2px solid white;
  padding-top: 1rem;
}

.register-assistant-position-title {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: white;
  text-align: left;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .register-container-assistant {
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
  }

  .form-input-position-description {
    font-size: 16px;
    padding: 12px 12px 12px 40px;
  }

  .submit-button {
    font-size: 22px;
    padding: 18px;
  }
}

@media (max-width: 768px) {
  .register-container-assistant {
    width: 90%;
    padding: 1.5rem;
  }

  .form-input-position-description {
    font-size: 14px;
    padding: 12px 12px 12px 40px;
  }

  .submit-button {
    font-size: 20px;
    padding: 16px;
  }
}